.consultation-form {
    background: white;
    border-radius: 1.25rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 32rem;
    margin: 0 auto;
  }
  
  .form-title {
    color: #1A160F;
    font-family: Geometria-medium;
    font-size: 1.6875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.625rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .form-label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #1A160F;
    font-family: Geometria-medium;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .form-input {
    padding: 1rem 0 1rem 0;
    border: none;
    border-bottom: 2px solid #1A160F;
    background: transparent;
    outline: none;
    font-size: 1.2rem;
  }
  
  .form-input::placeholder {
    color: #8C8A87;
  }
  
  .form-submit {
    background-color: #1A160F;
    color: #ffffff;
    padding: 1rem;
    font-size: 1.4rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
  }
  
  
  .form-agreement {
    justify-content: center;
    display: flex;
    align-items: center;
    color: #1A160F;
    font-family: Arial;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  