
  
  .final-container {
    margin: 0 auto;
    gap: 4rem;
    
  }
  
  .final-contacts {
    background: url("../../public/images/final-fon.png") no-repeat center top;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: clamp(2rem, 7vw, 7rem); */
    background-size:
                  clamp(20rem , 120vw , 120rem)
                  auto;
  }
  
  .final-title {
    color: #FFF;
    font-family: "UKIJ Tor";
    font-size: clamp(1.2rem, 7vw, 12rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: clamp(.18rem, 2vw, 3.6rem);
    text-transform: uppercase;
    opacity: 0.8;
  }
  
  .final-buttons {
    margin-block: clamp(1rem, 6vw, 7rem) clamp(2rem, 15vw, 15rem);
    display: flex;
    flex-direction: column;
    gap: clamp(.4rem, 1.2vw, 1rem);
    
  }
  

.final-button{
  --pad: clamp(.55rem, 2vw, 2rem);;
  padding:var(--pad);
  border:none;
  border-radius:.94rem;
  background:rgba(255,255,255,.8);
  backdrop-filter:blur(9px);
  font: 500 clamp(0.8rem, 3vw, 3.2rem)/1 'Geometria-medium',sans-serif;
  color:#1A160F;
  cursor:pointer;
  transition:background .25s,transform .25s;
}
.final-button:hover{background:rgba(255,255,255,.95);transform:translateY(-2px);}
  

.final-info {
  margin-top: clamp(2.2rem, 3vw, 4rem);
  margin-bottom: clamp(2.2rem, 3vw, 4rem);;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #3c6d65;
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  gap: clamp(0.8rem, 2vw, 1.5rem);
}

  .final-adress {
    display: flex;
    flex-direction: column;
  }

  .final-adress-text {
    color: #1A160F;
    text-align: center;
    font-family: Geometria-medium;
    font-size: clamp(1rem, 4vw, 1.92rem);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .final-phones {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .final-phones-text {
    color: #1A160F;
    font-family: Geometria-medium;
    font-size: clamp(1rem, 3vw, 1.375rem);
    font-style: normal;
    line-height: normal;
    letter-spacing: clamp(0.04rem, 0.5vw, 0.069rem);
    text-transform: uppercase;
}

  
  .final-socials {
    display: flex;
    justify-content: center;
    gap: clamp(0.5rem, 2vw, 1rem);
  }
  
  .final-socials img {
    width: 32px;
    height: 32px;
  }
  
  .final-links {
    margin-bottom: clamp(1.1rem, 3vw, 3.5rem);
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 2vw, 1rem);
  }
  
  .final-link {
    color: #1A160F;
    font-size: 1.1rem;
    text-decoration: none;
    text-align: center;
    font-family: Geometria-medium;
    font-size: clamp(0.92rem, 2.7vw, 2rem);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
  