.hero-section {
  display: flex;
  flex-direction: column;
  padding-bottom:clamp(15rem, 36.5vw, 46rem); /* подберите под ваш фон */
  overflow: hidden;           /* вот ключевой момент */
  position: relative;
  z-index: 4;
}

.hero-background-image {
  position: absolute;
  left: 50%;
  bottom:0;
  transform:translateX(-50%);
  width:	clamp(80rem,101vw,180rem);
  z-index: 1;
  pointer-events: none;
  max-width: 120%; 
  height: auto;
  object-fit: contain;

}

.hero-header-text {
  position: relative;
  width: 100%;
  text-align: center;
}



.header-main-title {
  color: #FFF;
  text-shadow: 1px 1px 2.6px #36645B;
  font-family: 'Geometria-bold';
    font-size:clamp(1.8rem,3vw,3rem);

  letter-spacing:clamp(0.08rem,0.3vw,0.15rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 2.5rem;
}

/* .hero-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.1), transparent);
  pointer-events: none;
  z-index: 3;
} */

.hero-content {
  flex: 1;                /* занимает всё доступное место сверху */
  position: relative;
  z-index: 4;
  color: white;
}
.hero-buttons {
  position: absolute;     /* теперь относительно .hero-section */
  bottom:clamp(2rem,7vh,7rem); /* 2 rem – минимум, 7 rem – максимум */
  left:clamp(2rem,9vw,9rem);            /* твой прежний отступ слева */
  display: flex;
  gap:clamp(4rem,12vw,20rem);           /* прежний gap между кнопками */
  margin: 0;              /* сбрасываем margin-top/margin-bottom */
}

@media (min-width:2560px){
  .hero-background-image{ width: 161rem; }  /* или scale(1.8) */
  .header-main-title   { font-size: 4.5rem; }
  .hero-buttons        { gap: 26rem; }
}


/* @media (min-width: 2561px) {
  .hero-background-image {
    max-width: 100%;
    transform: translateX(-50%) scale(2.3);
    bottom: -5rem; 
  }
}

@media (min-width: 1921px) {

  .hero-buttons {
    gap: clamp(3rem, 10vw, 10rem);
    margin-top: 35rem;
  }

  .hero-background-image {
    max-width: 100%;
    transform: translateX(-50%) scale(1.8);
    bottom: -5rem;

  }

  .hero-brand-icons {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero-content {
    height: 100svh;
  }
}

@media (width: 1920px) and (height: 1200px) {


  .hero-buttons {
    gap: clamp(3rem, 10vw, 10rem);
    margin-top: 25rem;
  }

  .hero-background-image {
    max-width: 100%;
    transform: translateX(-50%) scale(1.4);
    bottom: -5rem; 

  }

  .hero-brand-icons {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero-content {
    height: 100svh;
  }
}

@media (max-width: 1800px) {
  .hero-buttons {
    gap: clamp(3rem, 5vw, 10rem);
  }

  .hero-background-image {
    max-width: 100%;
    transform: translateX(-50%) scale(1.1);
    bottom: -5rem;

  }
}


@media (max-width: 1400px) {
  .hero-buttons {
    gap: 6rem;
  }

  .hero-background-image {
    scale: 1.05;
    bottom: -3rem;
  }
}


@media (max-width: 768px) {
  .hero-section {
    padding: 2rem 1.5rem;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
  }

  .hero-header-text {
    margin-left: 0;
    text-align: center;
  }
} */

