.logistics-section {
    position: relative;
    margin: 0 2.5rem;
    background: #82BBB3;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.55);
    overflow: hidden;
  }
  
  .logistics-background {
    position: absolute;
    top: 15%;
    left: 65%;
    transform: translateX(-50%);
    width: 75rem;
    height: 45rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 1;
  }
  
  .logistics-title {
    padding: 9rem 0rem 7rem 4rem;
  }

  .logistics-title-text {
    color: #FFF;
    text-align: center;
    font-family: Geometria-bold;
    font-size: 4.375rem;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.21875rem;
    text-transform: uppercase;
    z-index: 2;
  }
  
  .countries-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    row-gap: 3.4rem; /* вертикальный зазор между рядами */
    column-gap: 1rem; /* горизонтальный зазор между элементами */
    z-index: 2;
    margin-bottom: 13rem;
    width: 55rem;
    margin-left: 2rem;
  }
  
  .country-card {
    position: relative;
    width: 22.3125rem; /* ~357px */
    height: 6.25rem;   /* ~100px */
    background: #00473C;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    z-index: 1;
  }
  
  .country-background {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    z-index: -1; /* важное изменение */
  }
  
  .country-flag {
    position: absolute;
    top: -2.5rem; /* чуть выше */
    right: 1rem; /* еще правее */
    width: 6rem; /* увеличил */
    height: 6rem;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
    padding: 0.4rem;
    z-index: 5;
  }
  
  .country-content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 2;
  }
  
  .country-name {
    color: #FFF;
    text-align: center;
    font-family: Geometria-bold;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.10938rem;
  }

  .call-button-logistic {
    position: absolute;
    bottom: -1rem; /* чуть больше отступ снизу для воздуха */
    right: 23rem; /* слева такой же отступ как у всей секции */
    z-index: 3; /* чуть выше стран */
    margin-bottom: 3rem;
  }
  
  @media (max-width: 1200px) {
    .countries-list {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      column-gap: 1rem;
      row-gap: 3rem;
    }
  
    .country-card {
      width: 20rem; /* немного адаптировать ширину */
      height: 6rem;
    }
    
    .country-flag{
        width: 5rem;
        height: 5rem;
    }
  
    .logistics-background {
      left: 50%;
      width: 60rem;
      height: 36rem;
    }
  }
  
  @media (max-width: 768px) {
    .countries-list {
      justify-content: center;
      width: 100%;
      row-gap: 2.5rem;
      column-gap: 0.5rem;
    }
  
    .country-card {
      width: 90%;
      max-width: 22rem;
      height: 6rem;
    }
  
    .logistics-title {
      padding: 5rem 1rem 4rem 1rem;
      text-align: center;
    }
  
    .logistics-title-text {
      font-size: 3rem;
      letter-spacing: 0.15rem;
    }
  
    .logistics-background {
      width: 50rem;
      height: 30rem;
      left: 50%;
      top: 20%;
    }
  
    .call-button-logistic {
      right: 9rem;
      bottom: -2rem;
      margin-bottom: 2rem;
    }
  }
  
  @media (max-width: 480px) {
    .countries-list {
      flex-direction: column;
      align-items: center;
      row-gap: 2rem;
    }
  
    .country-card {
      width: 90%;
      max-width: 15rem;
      height: 4.5rem;
    }
  
    .logistics-title-text {
      font-size: 2.5rem;
      letter-spacing: 0.1rem;
    }
  
    .logistics-background {
      width: 40rem;
      height: 25rem;
    }
  }
  