.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  z-index: 999;
  position: relative
}

:root{
  --pad-x   : clamp(0.8rem, 3vw, 3rem);   /* горизонтальные отступы у шапки  */
  --logo-sz : clamp(3.5rem, 7vw, 7rem);   /* ширина логотипа                 */
  --title-sz: clamp(15rem ,50vw, 50rem);   /* ширина SVG-надписи               */
  --gap     : clamp(0.5rem, 2vw, 3rem);   /* промежуток между блоками         */
}

.navbar-logo {
  padding: 1.12rem 2rem;
  display: flex;
  align-items: center;
  backdrop-filter: blur(6.550000190734863px);
}

.navbar-logo img {
  width: 7rem;
  height: auto;
}

.navbar-title {
  color: white;
  font-weight: bold;
  letter-spacing: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  background: #F3F3F3;
  backdrop-filter: blur(4.050000190734863px);
}

.navbar-text img {
  width:var(--title-sz);
}

/* .navbar-text {
  color: #FFF;
  font-family: "UKIJ Tor";
  font-size: 3.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2rem;
  text-transform: uppercase;
} */



