.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.8rem;
  border-radius: 1rem;
  margin: 0 auto;
  z-index: 999;
  position: relative
}

.navbar-logo {
  padding: 1.12rem 2rem;
  display: flex;
  align-items: center;
  border-radius: 0.625rem;
  background: rgba(12, 87, 75, 0.70);
  box-shadow: -1px -1px 4px 0px rgba(0, 0, 0, 0.56) inset, 1px 1px 1.3px 0px rgba(255, 255, 255, 0.23) inset;
  backdrop-filter: blur(6.550000190734863px);
}

.navbar-logo img {
  width: 4.35rem;
  height: auto;
}

.navbar-title {
  padding: 0.94rem 4rem;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-left: 1rem;
  border-radius: 0.625rem;
  background: rgba(12, 87, 75, 0.70);
  box-shadow: -2px -2px 1.5px 0px rgba(0, 0, 0, 0.27) inset, 1px 1px 0.8px 0px rgba(254, 254, 254, 0.21) inset;
  backdrop-filter: blur(4.050000190734863px);
}

.navbar-text {
  color: #FFF;
  font-family: "UKIJ Tor";
  font-size: 3.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2rem;
  text-transform: uppercase;
}



