/* 1. Корень задаёт «гибкие» переменные */
:root{
  --logo-sz : clamp(2.5rem , 8vw , 7rem);
  --title-sz: clamp(11rem , 40vw, 40rem);
  --pad-x   : clamp(.5rem, 3vw , 5rem);
  --gap-x   : clamp(.5rem, 2vw , 2.5rem);
  --pad-logo: clamp(0.5rem, 2vw, 1.12rem)
}

/* 2. Шапка – mobile-first: логотип + меню (бургер) по краям */
.navbar{
  display:flex; align-items:center;
  justify-content:space-between;
  gap:var(--gap-x);
  position:relative; z-index:999;
}

.navbar-title {
  color: white;
  font-weight: bold;
  letter-spacing: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  background: #F3F3F3;
  backdrop-filter: blur(4.050000190734863px);
}

.navbar-logo img{width:var(--logo-sz);height:auto;
  padding-left: var(--pad-logo);
  padding-bottom: var(--pad-logo);
  padding-top: var(--pad-logo);
}

/* надпись «AUTOSALES» как картинка – масштабируется */
.navbar-text img{width:var(--title-sz);height:auto}

/* 3. Если ширина ≥ 768 – показываем широкий заголовок и скрываем бургер */
@media (min-width:768px){
  .navbar{justify-content:flex-start;}
  .navbar-text{flex:0}
  .menu-button-text{display:none}      /* ваш компонент MenuButton */
}


@media (max-width:480px){
  .navbar{flex-direction:row;gap:0.6rem;}
  .navbar-logo img{width:calc(var(--logo-sz)*0.8)}
  .navbar-text img{width:calc(var(--title-sz)*0.9)}
}
