.stages-section {
  margin: 0 2.5rem;
  background: #FFF;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.55);
  position: relative;
  overflow: hidden;
}

.stages-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  overflow: visible;
}

.stages-content h2 {
  font-size: 2.5rem;
  margin-bottom: 5rem;
  color: #333;
  align-self: center; /* Заголовок остаётся по центру */
}

.stages-grid {
  position: relative;
  width: 45rem; /* фиксированная ширина */
  height: 55rem; /* фиксированная высота */
  margin-top: 3rem;
  margin-left: 10rem;
}



.circle-text {
  position: absolute;
  top: 50%;
  left: -70%;
  transform: translate(-50%, -50%);
  font-size: clamp(2rem, 4vw, 4.3rem);
  color: #384140;
  text-align: center;
  font-family: Geometria-Medium;
  font-weight: 500;
  width: 100%;
  line-height: 1.2;
  text-transform: uppercase;
  z-index: 2; 
}

.circle-text-stage {
  color: #384140;
  text-align: center;
  font-family: Geometria-bold;
  font-size: clamp(2.5rem, 5vw, 4.3rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  }

.stages-grid::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: clamp(20rem, 35vw, 40rem);
  height: clamp(20rem, 35vw, 40rem);
  transform: translate(-50%, -50%);
  border: 2px dashed rgba(12, 87, 75, 0.5); /* пунктирная линия, можно заменить на solid */
  border-radius: 50%;
  z-index: 1;
}

.stage {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

/* Стили для картинки */
.stage-image {
  border-radius: 1rem;
  margin-bottom: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: -1rem;
  z-index: 2;
}



/* Стили для текста */
.stage-text {
  z-index: 1;
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Geometria;
  font-size: 0.91869rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #FFF;
  width: 9rem;
  height: 2.5rem;
  border-radius: 0.54038rem;
  background: #558981;
  box-shadow: -1.729px -1.729px 1.297px 0px rgba(0, 0, 0, 0.27) inset, 0.865px 0.865px 0.692px 0px rgba(254, 254, 254, 0.21) inset;
}

.btn-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* Теперь картинка будет внутри image-wrapper */
.image-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Картинка уже не вылетает */
.stages-photo {
  width: auto;
  height: 80rem;
  margin-right: -7rem; /* Сдвигать внутрь контейнера */
  margin-top: -19rem;
  pointer-events: none;
  user-select: none;
  z-index: 0;
}

.booking {
  width: auto;
  height: 7.2rem;
}

/* Кнопка нормально идёт под картинкой */
.call-button-stage {
  position: absolute;
  bottom: 1rem; /* расстояние от низа картинки */
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 2; /* Кнопка поверх картинки */
}


/* Расположение элементов */
.stage:nth-child(1) {
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
}

.stage:nth-child(2) {
  top: 25%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.stage:nth-child(3) {
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.stage:nth-child(4) {
  top: 75%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.stage:nth-child(5) {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.stage:nth-child(6) {
  top: 75%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.stage:nth-child(7) {
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}

.stage:nth-child(8) {
  top: 25%;
  left: 15%;
  transform: translate(-50%, -50%);
}

@media (min-width: 1921px) {

  
  .circle-text {
    top: 50%;
    left: -52%;
    font-size: clamp(2rem, 3vw, 4.3rem);
  }

}

@media (width: 1920px) and (height: 1200px) {
  .circle-text {
    top: 50%;
    left: -77%;
    font-size: clamp(2rem, 3vw, 4.3rem);
  }
}

@media (max-width: 1800px) {
  .stages-grid {
    width: 35rem;
    height: 45rem;
    margin-left: 10rem;
  }

  .circle-text {
    top: 50%;
    left: -57%;
    font-size: clamp(2rem, 3vw, 4.3rem);
  }

  .stages-photo {
    width: auto;
    height: 70rem;
    margin-right: -7rem; /* Сдвигать внутрь контейнера */
    margin-top: -19rem;
    pointer-events: none;
    user-select: none;
    z-index: 0;
  }
}

@media (max-width: 1440px) {
  .circle-text {
    top: 50%;
    left: -44%;
    font-size: clamp(2rem, 3vw, 3.3rem);
  }

  .circle-text-stage {
    font-size: clamp(4rem, 3vw, 4.3rem);
  }
}

@media (width: 1366px) and (height:768) {
  .circle-text {
    top: 50%;
    left: -39%;
    font-size: clamp(2rem, 3vw, 1.3rem);
  }

  .circle-text-stage {
    font-size: clamp(3rem, 3vw, 4.3rem);
  }

}

@media (max-width: 1024px) {
  .stages-grid {
    margin-left: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .stages-content {
    flex-direction: column;
    align-items: center;
  }
}

