html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
	font-family: 'UKIJ TOR';
	src: url('./fonts/ukijtor.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/ukijtor.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/ukijtor.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/ukijtor.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/ukijtor.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/ukijtor.svg#ukijtor') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: normal;
    src: local('Geometria'), url('./fonts/Geometria.woff') format('woff');
    }

@font-face {
	font-family: 'Geometria-Bold';
	src: url('./fonts/geometria-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/geometria-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/geometria-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/geometria-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/geometria-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/geometria-bold.svg#geometria-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Geometria-Medium';
	src: url('./fonts/geometria-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/geometria-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/geometria-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/geometria-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/geometria-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/geometria-medium.svg#geometria-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
